/* src/pages/Borrowed.css */

.borrowed-container {
    padding: 40px;
}

.borrowed-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
